<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
</head>

<body>
    <div class="container">
        <div class="datails">
            <div class="card text-xs-center">
                <br>
                <div class="card-block">
                    <h4 class="card-title">User Details</h4>
                    <p class="card-text">
                        <strong>Name</strong>: <%= user.name %><br>
                        <strong>Email</strong>: <%= user.email %><br>
                        <strong>Phone Number</strong>: <%= user.phone %><br>
                        <strong>Country</strong>: <%= user.address.country %><br>
                        <strong>Address</strong>: <%= user.address.city %>,<%= user.address.state %><br>
                        <strong>Category</strong>: <%= user.category %><br>
                        <strong>Gender</strong>: <%= user.gender %><br>
                        <strong>Birthdate</strong>: <%= user.date_of_birth %><br>
                        <strong>Experience</strong>: <%= user.experience %><br>
                        <strong>Bio</strong>: <%= user.bio %><br>
                    </p>
                    <a href="/logout" class="btn btn-default">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>