<%- include('./includes/head.ejs') %> 
  <title><%= user.name %></title>
</head>
<body>
  <%- include('./includes/primary-nav.ejs') %> 
    <div class="container mt-2">

            <div class="card">
                <div class="card__image">
                  <img src="https://robohash.org/<%= user.name %>" alt="<%= user.name %>'s picture'">
                </div>
                <div class="card__info">
                    <span><strong>Name: </strong> <%= user.name %></span>
                    <span><strong>Email: </strong> <%= user.email %></span>
                    <span><strong>Country: </strong> <%= user.country %></span>
            
                    <% if (user.work_experience) { %>
                        <span><strong>Experience: </strong> <%= user.work_experience %> Years</span>
                    <% } else  { %>
                        <span><strong>Experience: </strong> No work experience</span>
                    <% }  %>                    

                    <% if (user.category === "employee") { %>
                        <span> Looking for a job</span>
                    <% } else if(user.category === "partner") { %>
                        <span> Looking for a business partner</span>
                    <% } else if(user.category === "investor") { %>
                        <span> I am an investor</span>
                    <% }  %>
                    
                </div>
              </div>
              <% if(posts.length > 0) {%>  
                <h3 align="center" class="mt-2">All Posts</h3>
                <% for( p of posts) { %> 
                  <div class="card mt-2">
                    <div class="card__info">
                      <span><%= p.body %></span>
                      <strong> - by <%= p.author.name %></strong>
                      <span style="color: #777;"><%= p.formattedDate %></span>
                      <% if(userid.toString () == p.author._id.toString ()) { %>
                        <form action="/edit/<%= p._id %>" method="GET">
                          <input type="submit" value="edit">
                        </form>
                        <% } %>
                    </div>
                  </div>
                <% } %>  
              <% } else { %>
                <div align="center" class="mt-2">No Posts by this user</div>
              <% } %> 
    </div>
</body>

</html>