<%- include('./includes/head.ejs') %> 
  <title>Home</title>
</head>
<body>
  <%- include('./includes/primary-nav.ejs') %> 
    <div class="container mt-2">

            <div class="card">
                <div class="card__image">
                  <img src="https://robohash.org/<%= user.name %>" alt="<%= user.name %>'s picture'">
                </div>
                <div class="card__info">
                    <span><strong>Name: </strong> <%= user.name %></span>
                    <span><strong>Email: </strong> <%= user.email %></span>
                    <span><strong>Country: </strong> <%= user.country %></span>
            
                    <% if (user.work_experience) { %>
                        <span><strong>Experience: </strong> <%= user.work_experience %> Years</span>
                    <% } else  { %>
                        <span><strong>Experience: </strong> No work experience</span>
                    <% }  %>                    

                    <% if (user.category === "employee") { %>
                        <span> Looking for a job</span>
                    <% } else if(user.category === "partner") { %>
                        <span> Looking for a business partner</span>
                    <% } else if(user.category === "investor") { %>
                        <span> I am an investor</span>
                    <% }  %>
                    
                </div>
              </div>
            <!-- <p class="card__info">
                <strong>Name</strong>: <%= user.name %><br>
                <strong>Email</strong>: <%= user.email %><br>
                <strong>Country</strong>: <%= user.country %><br>
                <strong>Address</strong>: <%= user.city %> <%= user.state %><br>
                <strong>Category</strong>: <%= user.category %><br>
                <strong>Gender</strong>: <%= user.gender %><br>
                <strong>Birthdate</strong>: <%= user.date_of_birth %><br>
                <strong>Experience</strong>: <%= user.work_experience %><br>
                <strong>Bio</strong>: <%= user.bio %><br>
            </p> -->
    </div>
</body>

</html>